# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Mobile Apps (Flutter/Android)
mobile_apps/vendor/build/
mobile_apps/vendor/.dart_tool/
mobile_apps/vendor/.flutter-plugins
mobile_apps/vendor/.flutter-plugins-dependencies
mobile_apps/vendor/android/app/src/main/res/
**/*.dill
**/*.so
**/*.exe
**/*.bin

# SQLite
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
