Options -MultiViews -Indexes
RewriteEngine On

# Try to handle standard routing
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# Fallback specifically for this subdirectory
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

